.line-1 {
    display: flex;
    width: 800px;
    height: 200px;
    justify-content:space-around;
    margin-left: auto;
    margin-right: auto;
}
.line-2 {
    display: flex;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.line-3 {
    display: flex;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.line-4 {
    display: flex;
    width: 800px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.item {
    background-color: #f2f2f2;
    border: 1px gray solid;
    margin: 10px;
    padding: 5px;
}
.item-1 {
    flex-basis: 33%;
}
.item-2 {
    flex-basis: 33%;
}
.item-3 {
    flex-basis: 33%;
}
.item-4 {
    flex-basis: 25%
}
.item-5 {
    flex-basis: 50%
}
.item-6 {
    flex-basis: 25%
}
.item-7 {
    flex-basis: 25%
}
.item-8 {
    flex-basis: 75%
}
.item-9 {
    flex-basis: 75%
}
.item-10 {
    flex-basis: 25%
}